html, body {
    height: 100%; /* Full height for body */
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scroll bars */
  }
  .home-container {
    padding-top: 60px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Images/HomePage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .welcome-message {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      padding: 10px;
    }
  
    .welcome-message h1 {
      flex-direction: column;
      font-size: 1.5rem;
    }
  
    .welcome-message p {
        flex-direction: column;
      font-size: 1rem;
    }
  
  }